$border-radius: 10px;

body{
    background-color: #2f2f32;
}

.hide{
    display: none;
}

.wrapper{
    display: flex;


    &__inner{
        border: 3px solid gray;
        border-radius: $border-radius;
        width: 95svw;
        height: 80svh;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    &__keyboard{
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        min-width: 600px;
    }

    &__sring{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    &__box{
        background-color: #fff;
        border: 1px solid gray;
        border-radius: $border-radius;
        width: 60px;
        height: 60px;
        cursor: pointer;
        position: relative;
        transition: background-color 0.3s ease;

        &:hover{
            background-color: rgba(0,0,0,0.1); 
            
            .wrapper__key{
                color: white;
            }
        }

        &_input{
            margin-left: 10px;
            margin-right: 10px;
        }

        &_accept{
            background-color: green;
            margin-left: 10px;
        }
    }

    &__key{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        font-size: 24px;
        color: #2f2f32;
        font-weight: 700;
    }

    &__input{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__container{
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}